[project]
name = "lacmta-gtfs"
version = "0.1.0"
description = "GTFS automation for LA Metro"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "poethepoet>=0.41.0",
]

[tool.lacmta-gtfs]
validator-jar = "https://github.com/MobilityData/gtfs-validator/releases/download/v7.1.0/gtfs-validator-7.1.0-cli.jar"
default-country-code = "us"

[tool.poe.tasks]
test = "python scripts/main.py"
download-validator = "python scripts/download_validator.py"
