[project]
name = "gtfs"
version = "0.1.0"
description = "GTFS automation for LA Metro"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "poethepoet>=0.41.0",
]

[tool.poe.tasks]
test = "python scripts/main.py"
